nav { text-align: center; }
nav ul li { display: inline-block; }
.nav_item {
	padding: 20px 30px;
	display: inline-block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #54575e;
}

.active {
    background-color: #a5a008;
}

section { padding: 20px; }

.sectionOne {
height: 100vh;	
background-color: #54575e;
text-align: center;
}

.sectionTwo {
height: 60vh;	
background-color: #54575e;
text-align: center;
}


.sectionThree {
	height: 70vh;	
	background-color:#c6c275;
	text-align: right;
}
	
.sectionFour {
	height: 70vh;	
	background-color: #c6c275;
	text-align: left;
}

.sectionFive {
	height: 70vh;	
	background-color: #c6c275;
	text-align: right;
}

.sectionSix {
	height: 70vh;	
	background-color: #c6c275;
	text-align: left;
}

.sectionSeven {
	height: 40vh;	
	background-color: #c6c275;
	text-align: center;
}

hr {border: 1px solid white; width: 25%; }

/////////////IMAGES/////////////



.sherlock {width: 35vw; float: right;
-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;}
.sh {width:25vw; float:left;}

.drwatson {width: 35vw; float: left;
-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;}
.dw {width:25vw; float:right;
}

.moriarty {width: 35vw; 
    float: right;
    padding-top: 3em;
    padding-bottom: 0.5em;
    padding right: 3em;
    padding-left: 1.5em;
    
-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;}
.mor {width:25vw; float:left;}

.irene {width: 35vw; 
    float: left;
     padding-top: 3em;
    padding-bottom: 0.5em;
    padding right: 3em;
    padding-left: 1.5em;
-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;}
.ir {width:25vw; float:right;}

h1 {
    color: #fff;
    text-align: center;
    font-size: 10em;
    padding-top: 0.2em;
    font-family: 'Diplomata', cursive;
}

h2{
    font-family: 'Diplomata', cursive;
    text-align: center;
}
p{
    font-family: 'Prociono', serif;
}

