nav { text-align: center; }
nav ul li { display: inline-block; }
.nav_item {
	padding: 10px 20px;
	display: inline-block;
}

section { padding: 20px; }

.sectionOne {
height: 100vh;	
background-color: #c6c275;
text-align: center;
}

.sectionTwo {
height: 70vh;	
background-color: #54575e;
text-align: center;
}

.aboutme {width: 35vw; float: left;}
.me {width:50vw; float:right;}


.sectionThree {
	height: 40vh;	
	background-color:#c6c275 ;
	text-align: center;
}
	
.sectionFour {
	height: 40vh;	
	background-color: #54575e;
	text-align: center;
}

.sectionFive {
	height: 40vh;	
	background-color: #c6c275;
	text-align: center;
}

.sectionSix {
	height: 40vh;	
	background-color: #54575e;
	text-align: center;
}

.sectionSeven {
	height: 40vh;	
	background-color: #c6c275;
	text-align: center;
}

.left {float: left;}
.right {float: right;}
hr {border: 1px solid white; width: 25%; }

/////////////IMAGES/////////////
